<%- include("header") -%> <!-- Added the contents of "header.ejs" file. So, we don't need to write that part in every files (.ejs). -->

<h2>This is the about page</h2>
<p>abc abc abc</p>

<%- include("footer") -%> <!-- Added the contents of "footer.ejs" file. So, we don't need to write that part in every files (.ejs). -->